/* -----HEADER--------------------------------------------------- */

.header__body{
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin: 16px 0 16px 0;
}

.country__list,
.menu__list,
.buttons__list{
  display: flex;
}

@media (max-width:1455px){
  .header__country{
    display: none;
  }
}

@media (max-width:1300px) {
  .menu__list,
  .buttons__list{
    padding-left: 20px;
  }
}

.logo__list{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}

.header__logo-container{
  margin-left: 16px;
}

.phone-link{
  display: inline-block;
}

@media (max-width:1240px) {
  .phone-link{
    display: none;
  }
}

.phone-item{
  display: flex;
}

.country__link,
.menu__link{
  line-height: 150%;
  color: inherit;
  text-decoration: none;
}

.country__list,
.menu__list,
.buttons__list{
  list-style: none;
}

.country__item:not(:last-child){
  margin-right: 10px;
}

.country-button{
  background-color: transparent;
  border: none;
}

.item-flag{
  display: flex;
}

.link-text{
  margin-left: 8px;
}

.menu__item:not(:last-child){
  margin-right: 48px;
}

@media (max-width:1093px) {
  .menu__item:not(:last-child) {
    margin-right: 28px;
  }
  .menu__list,
  .buttons__list {
    padding-left: 10px;
  }
  .block{
    margin-left: 5px;
  }
}

.header__burger{
  display: none;
  position: relative;
  height: 56px;
  width: 56px;
  border-radius: 12px;
  background-color: #F5F5F7;
  border: none;
}

.header__burger .burger__line {
  position: absolute;
  height: 2.5px;
  width: 25px;
  background-color: #000;
  left: 16px;
  border-radius: 5px;
}

.header__burger .burger__line:nth-child(1){
  transform: translateY(-10px);
}

.header__burger .burger__line:nth-child(3) {
  transform: translateY(10px);
}

.block{
  margin-left: 20px;
}

.block__phone{
  display: flex;
}

.phone-link{
  margin-left: 12px;
}

.buttons__item{
  margin-right: 12px;
}

/* исправить жесткость кнопок */
.buttons__link{
  height: 56px;
  width: 56px;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #D2D2D7;
}

.small-buttons{
  display: inline-flex;
  align-items: center;
}

.small-buttons img{
  margin: 0 auto;
}

/* исправить жесткость кнопок */
.buttons__link_large{
  display: flex;
  width: 147px;
  align-items:center;
  justify-content: space-around;
}

@media (max-width:1030px) {
  .buttons__text{
    display: none;
  }
  .buttons__link_large {
    height: 56px;
    width: 56px;
  }
}

@media (max-width:940px) {
  .shopping-cart{
    display: none;
  }
  .header__burger{
    display: block;
    z-index: 11;
  }
  
  .header__menu{
    display: flex;
    position: absolute;
    z-index: 10;
    font-size: 22px;
    top: 0;
    right: 100% ;
    height: 100vh;
    width: 37%;
    background-color: #fff;
    /* transition: ease .1s; */
    border-radius:12px;
  }
  .active{
    right: 0;
    visibility: visible;
  }
  .lock{
    overflow: hidden;
  }
  .burger__line{
    transition: all .5s;
    will-change: transform;
  }
  .header__burger.active .burger__line:nth-child(1) {
    transform: rotate(45deg);
  }
  .header__burger.active .burger__line:nth-child(2) {
    transform: scale(0);
  }
  .header__burger.active .burger__line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .block{
    position: absolute;
    right: 0;
    margin-right: calc(100% - 300px);
    margin-left: 0px;
  }
  .menu__list{
    flex-direction: column;
    gap: 30px;
    margin: auto;
  }
}

@media (max-width:768px) {
  .buttons__link {
    height: 50px;
    width: 50px;
  }
  .header__burger{
    height: 50px;
    width: 50px;
  }
  .header__burger .burger__line {
    width: 22px;
    left: 14.5px;
  }
}

@media (max-width:625px) {
  .item-text {
    display: none;
  }
  .block {
    margin-right: calc(100% - 130px);
  }
}

@media (max-width:650px) {
  .buttons__link {
      height: 48px;
      width: 48px;
    }
  
  .header__burger {
      height: 48px;
      width: 48px;
  }
  .header__burger .burger__line {
    width: 22px;
    left: 13px;
  }
  .header__burger .burger__line:nth-child(1) {
    transform: translateY(-9px);
  }

  .header__burger .burger__line:nth-child(3) {
    transform: translateY(9px);
  }
  .header__menu {
    width: 100%;
  }
}

@media (max-width:405px) {
  .buttons__link {
    height: 44px;
    width: 44px;
  }

  .header__burger {
    height: 44px;
    width: 44px;
  }
  .header__burger .burger__line {
    width: 20px;
    left: 12px;
  }
  .header__burger .burger__line:nth-child(1) {
    transform: translateY(-8px);
  }

  .header__burger .burger__line:nth-child(3) {
    transform: translateY(8px);
  }
  .block {
    margin-right: calc(100% - 110px);
  }
}
@media (max-width:370px) {
  .buttons__link {
    height: 40px;
    width: 40px;
  }

  .header__burger {
    height: 40px;
    width: 40px;
  }

  .header__burger .burger__line {
    width: 18px;
    left: 11px;
  }

  .header__burger .burger__line:nth-child(1) {
    transform: translateY(-7px);
  }

  .header__burger .burger__line:nth-child(3) {
    transform: translateY(7px);
  }

  .block {
    display: none;
  }
}
@media (max-width:320px) {
  .liked-item{
    display: none;
  }
}
.buttons__text{
  color: #686870;
  line-height: 150%;
}

/* -----MAIN----------------------------------------------------- */

.main {
  flex: 1 1 auto;
}

/* .main__container{
  margin: 0 0 48px 0;
} */

/* -----MAIN-NAVIGATION-------------------------------- */

.main-navigation__body{
  max-width: 816px;
  max-height: 82px;
  padding: 10px 0px 10px 0px;
  background-color: #fff;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

.navigation__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

.navigation__icon {
  height: 32px;
  width: 32px;
  margin-bottom: 5px;
}

.navigation__text {
  line-height: 150%;
}

@media (max-width:500px) {
  .navigation__icon {
    height: 28px;
    width: 28px;
    margin-bottom: 5px;
  }
  .navigation__text {
    font-size: 14px;
  }
}
@media (max-width:380px) {
  .navigation__text{
    display: none;
  }
  .navigation__icon {
    height: 32px;
    width: 32px;
    margin-bottom: 5px;
  }
  /* .navigation__text {
      font-size: 10px;
  }
  .main__body-novigation {
    padding: 0 15px 0 15px;
  } */
}


/* -----MAIN-SLIDER-------------------------------- */

.main__main-slider {}

.main-slider__container {
  margin-bottom: 124px;
}

@media (max-width: 1024px) {
  .main-slider__container {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .main-slider__container {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .main-slider__container {
    margin-bottom: 30px;
  }
}

.slider-info {}

.slider-info__heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 128%;
  margin: 0;
}

@media (max-width: 1170px) {
  .slider-info__heading {
    font-size: 44px;
  }
}

@media (max-width: 1070px) {
  .slider-info__heading {
    font-size: 40px;
  }
}

@media (max-width: 1020px) {
  .slider-info__heading {
    font-size: 36px;
  }
  .slider-info__text {
    font-size: 14px;
  }
  .slider-info__link {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .slider-info__heading {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .slider-info__heading {
    font-size: 28px;
  }

  .slider-info__text {
    font-size: 12px;
  }

  .slider-info__link {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .slider-info__heading {
    font-size: 26px;
  }

  .slider-info__text {
    font-size: 10px;
  }

  .slider-info__link {
    font-size: 12px;
  }
}

@media (max-width: 330px) {
  .slider-info__heading {
    font-size: 24px;
  }

  .slider-info__text {
    font-size: 6px;
  }
}

.slider-info__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: #686870;
  margin-bottom: 30px;
}

.slider-info__link {
  display: inline-block;
  color: #fff;
  line-height: 150%;
  background: #00CC2D;
  text-decoration: none;
  border-radius: 12px;
  padding: 16px 30px;
}

.main-slider__link {
  display: inline-block;
}

.main-slider__info{
  position: absolute;
  max-width: 500px;
  padding-left: 5%;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (max-width: 1250px) {
  .main-slider__info {
    padding-left: 3%;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1170px) {
  .main-slider__info {
    max-width: 450px;
  }
}

@media (max-width: 1070px) {
  .main-slider__info {
    max-width: 400px;
  }
}

@media (max-width: 1020px) {
  .main-slider__info {
    max-width: 380px;
  }
}

@media (max-width: 950px) {
  .main-slider__info {
    position:relative;
  }
  .bg-img {
    display: none;
  }
  .bg-mb-img{
    display: block !important;
    max-height: 330px;
    object-fit: cover;
  }
  .swiper-slide {
    flex-direction: column;
  }
  .main-slider__info {
    max-width: 100%;
    padding: 20px 10px 10px 15px;
  }
  .swiper-wrapper{
    padding-bottom: 60px;
  }
  .swiper{
    background-color: #fff;
  }
}

.swiper{
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
}

.swiper-slide{
  display: flex;
}

.swiper-wrapper{
  width: 100%;
  max-height: 600px;
}
/* Пофиксить изображение в слайдере */
.bg-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-mb-img{
  display: none;
}

.swiper-pagination-bullet{
  height: 14px;
  width: 14px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, .24);
  background: 0 0;
  margin: 0px 10px !important;
  transition: .3s ease;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #484848;
  border: 2px solid #484848;
}

/* -----MAIN-SUSHI-------------------------------- */

.main__main-sushi {}

.main-sushi {}

.image-card__image{
  width: 90%;
}

@media (max-width: 1360px) {
  .image-card__image {
    width: 80%;
  }
}

@media (max-width: 1020px) {
  .image-card__image {
    width: 75%;
  }
}

@media (max-width: 679px) {
  .image-card__image {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .image-card__image {
    width: 65%;
  }
}

.main-sushi__container {
  margin-bottom: 124px;
}

@media (max-width: 768px) {
  .main-sushi__container {
    margin-bottom: 80px;
  }
}

@media (max-width: 430px) {
  .main-sushi__container {
    margin-bottom: 60px;
  }
}

.main-sushi__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

@media (max-width: 720px) {
  .main-sushi__header {
    margin-bottom: 0px;
  }
}

.main-sushi__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 133%;
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .main-sushi__title {
    font-size: 42px;
  }
}

@media (max-width: 425px) {
  .main-sushi__title {
    font-size: 38px;
  }
  .main-sushi__more {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .main-sushi__more {
    font-size: 12px;
  }
  .main-sushi__title {
    font-size: 35px;
  }
}

.main-sushi__more {
  color: #00CC2D;
  line-height: 150%;
  border-radius: 12px;
  background: #fff;
  text-decoration: none;
  padding: 12px 24px;
}

.main-sushi__main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}

@media (max-width: 375px) {
  .main-sushi__main-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 320px) {
  .main-sushi__main-content {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 12px;
  }
}

.main-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 24px 24px 24px;
  /* height: 480px; */
}

@media (max-width: 768px) {
  .main-card {
    padding: 10px 18px 18px 18px;
  }
}

.main-card__container{
    flex: 1 1 auto;
}

.main-card__link{
  text-align: center;
}

.main-card__title {
  margin-top: 8px;
  margin-bottom: 12px;
}

.main-card__info {}

.info-card{
}

.main-card__link-title {
  color: inherit;
  font-size: 27px;
  font-weight: 700;
  line-height: 118%;
  text-decoration: none;
  word-wrap: break-word;
}

.info-card__weight {
  font-size: 18px;
  color: #F63;
  line-height: 144%;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.info-card__description {
  color: #686870;
  line-height: 150%;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .main-card__link-title {
    font-size: 25px;
  }

  .info-card__weight {
    font-size: 16px;
  }

  .info-card__description {
    font-size: 16px;
    max-height: 63px;
    overflow: hidden;
  }
}

@media (max-width: 420px) {
  .main-card__link-title {
    font-size: 23px;
  }

  .info-card__weight {
    font-size: 15px;
  }

  .info-card__description {
    font-size: 14px;
  }
}

.main-card__footer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.main-card__price {
  flex: 1 1 auto;
  font-size: 40px;
  font-weight: 700;
  line-height: 80%;
}

@media (max-width: 768px) {
  .main-card__price {
    font-size: 35px;
  }
}

@media (max-width: 420px) {
  .main-card__price {
    font-size: 30px;
  }
  .main-card__like img{
    width: 20px;
  }
  .main-card__add img{
    width: 24px;
  }
}

@media (max-width: 320px) {
  .main-card__price {
    font-size: 26px;
  }

  .main-card__like img {
    width: 16px;
  }

  .main-card__add img {
    width: 20px;
  }
}

.price__currency {
  font-size: 26px;
  font-weight: 700;
  color: #686870;
}

.main-card__like {
  display: inline-block;
  border: none;
  border-radius: 12px;
  padding: 12px;
  background: #F5F5F7;
}

.main-card__add {
  display: inline-block;
  border: none;
  border-radius: 12px;
  padding: 10px 24px;
  background: #CCF5D5;
}

/* -----MAIN-MAP-------------------------------- */

.main__main-map {}

.main-map {}

.main-map__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}

@media (max-width: 1020px) {
  .main-map__container {
    padding-top: 60px;
  }
}

@media (max-width: 650px) {
  .main-map__container {
    padding-top: 45px;
  }
}

@media (max-width: 390px) {
  .main-map__container {
    padding-top: 35px;
  }
}

.main-map__body {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 226px;
}

@media (max-width: 768px) {
  .main-map__body {
    margin-bottom: 124px;
  }
}

.main-map__info{
  margin-bottom: 35px;
}

.main-map__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 133%;
  margin: 0;
}

.main-map__text{
  max-width: 1000px;
  line-height: 1.33;
  color: #9E9E9E;
}

@media (max-width: 425px) {
  .main-map__info {
    margin-bottom: 30px;
  }

  .main-map__title {
    text-align: left;
  }

  .main-map__text {
    text-align: left;
  }
}

@media (max-width: 320px) {
  .main-map__info {
    margin-bottom: 25px;
  }
}

@media (max-width: 1300px) {
  .main-map__title {
    font-size: 42px;
  }
}

@media (max-width: 800px) {
  .main-map__title {
    font-size: 38px;
  }
}

@media (max-width: 700px) {
  .main-map__title {
    font-size: 34px;
  }
  .main-map__text {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  .main-map__title {
    font-size: 30px;
  }
}

@media (max-width: 330px) {
  .main-map__title {
    font-size: 28px;
  }
}

.main-map__map {
  width: 100%;
}

.main-map__map iframe{
  width: 100%;
}

/* -----MAIN-???-------------------------------- */

.main__main-app {}

.main-app__container{
  margin-bottom: 124px;
}

.main-app__body {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  padding: 45px 98px 0px 85px;
}

@media(max-width: 1400px) {
  .main-app__body {
    padding-right: 0px;
  }
}

@media(max-width: 768px) {
  .main-app__body {
    flex-direction: column;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
  }
}

.main-app__banner {
  max-width: 540px;
  margin: auto;
  margin-left: 0;
  padding-bottom: 40px;
}

.main-banner__title {
  margin: 0;
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 16px;
  word-wrap: break-word;
}

.main-banner__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
  word-wrap: break-word;
  color: #686870;
}

.main-banner__links {
}

.item__links__link {
  text-decoration: none;
}

.banner-link {
  padding: 12px 17px 12px 12px !important;
}

.banner-text{
  font-size: 22px;
}

.link-btn .banner-image{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.main-app__image{
  align-self: flex-end;
  margin-left: 15px;
  max-width: 500px;
}

.main-image__image {
  margin-top: -120px;
}

@media(max-width: 1400px) {
  .main-app__image {
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    width: 100%;
    height: 410px;
  }

  .main-image__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 430px;
  }
  .main-banner__title {
    font-size: 45px;
  }

  .main-banner__text {
    font-size: 18px;
  }
  .main-app__banner {
    padding-bottom: 0px;
  }
  .banner-link {
    padding: 10px 15px 10px 10px !important;
  }

  .banner-text {
    font-size: 20px;
  }

  .link-btn .banner-image {
    height: 28px;
    width: 28px;
  }
}

@media(max-width: 1100px) {
  .main-banner__title {
    font-size: 40px;
  }

  .main-banner__text {
    font-size: 16px;
  }

  .banner-link {
    padding: 8px 13px 8px 8px !important;
  }

  .banner-text {
    font-size: 18px;
  }

  .link-btn .banner-image {
    height: 26px;
    width: 26px;
  }
}

@media(max-width: 850px) {
  .main-banner__title {
    font-size: 36px;
  }

  .main-banner__text {
    font-size: 16px;
  }

  .banner-link {
    padding: 5px 10px 5px 5px !important;
  }

  .banner-text {
    font-size: 16px;
  }

  .link-btn .banner-image {
    height: 24px;
    width: 24px;
  }
}

@media(max-width: 768px) {
  .main-app__image {
    height: auto;
    max-width: 300px;
    align-self: center;
    margin-bottom: -64px;
    order: 1;
  }

  .main-image__image {
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
  }
  .main-app__banner {
    position: relative;
    order: 2;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 10px 20px 15px;
    margin: 0;
    max-width: 100%;
  }
  .main-banner__title {
    font-size: 30px;
  }
}

@media(max-width: 500px) {
  .main-banner__title {
    font-size: 26px;
  }

  .main-banner__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .banner-link {
    padding: 5px 10px 5px 5px !important;
  }

  .banner-text {
    font-size: 14px;
  }

  .link-btn .banner-image {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 360px) {
  .main-app__image {
    max-width: 260px;
  }
}

@media (max-width: 320px) {
  .main-app__image {
    max-width: 230px;
  }
}

@media (max-width: 295px) {
  .banner-link:not(:last-child){
    margin-bottom: 10px;
  }
}

/* -----MAIN-STORY-------------------------------- */

.main__main-story {}

.main-story__container {
  margin-bottom: 35px;
}

.main-story__body{
  display: flex;
  flex-direction: column;
  max-width: 778px;
  margin: 0 auto;
}

.main-story__text {
  font-weight: 400;
  line-height: 150%;
  color: #9E9E9E;
}

.main-story__button {
  display: flex;
  align-self:flex-end;
  align-items: center;
  border: none;
  background-color: transparent;
  line-height: 150%;
  color: #00CC2D;
  margin-right: 30px;
}

@media (max-width: 770px) {
  .main-story__button {
    margin-right: 0px;
  }
}

.main-story__button img{
  margin: 4px;
}

/* -----FOOTER--------------------------------------------------- */

.footer{
  background-color: #fff;
  border-radius: 12px;
}

.footer ul *>a{
  text-decoration: none;
}

.footer__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 34px;
  padding: 64px 10px 64px 10px;
}

.ninja-app__list,
.navigate__list,
.contacts__list,
.work-time__list,
.socials__list,
.additional-info__list{
  list-style: none;
}

.main-info__body{
  display: grid;
  grid-template-columns: repeat(4, auto);
}


/* -----FOOTER-NINJA-APP-------------------- */

.ninja-image img{
  height: 60px;
  margin-left: -10px;
}

.ninja-app__list{
  margin: 0 0 72px 0;
  padding: 0;
}

.ninja-app__item{
  margin-bottom: 20px;
}

.link-btn{
  display: inline-flex;
  background: #000;
  border-radius: 7px;
  padding: 5px 10px 5px 10px;
  align-items: center;
}

.link-btn:not(:last-child){
  margin-right: 7px;
}

.link-btn__image{
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.link-btn__text{
  color: #fff;
}

.ninja-app__link_gray{
  line-height: 140%;
  font-size: 14px;
  color: #9E9E9E;
}

.ninja-app__conf{
  line-height: 140%;  
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}

/* -----FOOTER-MAIN-INFO-------------------- */

.navigate__list{
  padding-left: 20px;
}

.heading{
  margin-bottom: 12px;
}

.heading__text{
  line-height: 140%;
  font-weight: 400;
  font-size: 14px;
  color: #8f8f96;
}

.navigate__link,
.contacts__link,
.work-time__link{
  line-height: 150%;
  color: inherit;
}

.work-time__link_gray{
  color: #9E9E9E;
}

.navigate__item:not(:last-child),
.contacts__item:not(:last-child),
.work-time__item:not(:last-child)
{
  margin-bottom: 8px;
}

.socials__item:not(:last-child){
  margin-bottom: 18px;
}

.socials__link:not(:last-child){
  margin-right: 8px;
}

.socials__link_gray-text{
  line-height: 150%;
  color: #039BE5;
}

.socials__link_gray{
  display: flex;
  border-radius: 12px;
  background: #F5F5F7;
  padding: 8px 12px;
}

.socials__link_gray img{
  margin-right: 12px;
}

/* -----FOOTER-ADDITIONAL-INFO-------------------- */

.additional-info__list{
  padding-left: 10px;
}

.additional-info__link_large{
  font-size: 42px;
  font-weight: 700;
  color: inherit;
}

.additional-info__link_gray{
  color: #9E9E9E;
  font-weight: 400;
  line-height: 150%;
}

.additional-info__link_green{
  display: inline-block;
  color: #00CC2D;
  line-height: 150%;
  border-radius: 12px;
  background: #F5F5F7;
  padding: 16px 24px;
}

.additional-info__item:not(:last-child){
  margin-bottom: 18px;
}

@media(max-width:1163px){
  .footer__container{
    justify-content: space-around;
  }
  .footer__additional-info{
    display: none;
  }
}

@media(max-width:950px) {
  .main-info__body{
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: repeat(2, auto);
  }
  .socials__list{
    padding-left: 20px;
  }
}

@media(max-width:860px) {
  .main-info__body {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
  .work-time__list{
    padding-left: 20px;
  }
  .socials__list {
    padding-left: 40px;
  }
}
@media(max-width:637px) {
  .ninja-app__conf{
    font-weight: 600;
  }
  .footer__ninja-app ul{
    text-align: center;
  }
  .ninja-app__conf{
    display: block;
    text-align: center;
  }
  .footer__ninja-app{
    margin-bottom: 15px;
  }
}
@media(max-width:365px) {
  .ninja-image img{
    height: 50px;
  }
  .link-btn__text{
    font-size: 14px;
  }
  .link-btn{
    padding: 4px 7px 4px 7px;
  }
  .link-btn__image {
    height: 20px;
    width: 20px;
  }
  .heading__text{
    font-size: 12px;
  }
  .navigate__link,
  .contacts__link,
  .work-time__link{
    font-size: 14px;
  }
  .socials__link_gray-text{
    font-size: 14px;
  }
}